/* App.css */

.App {
  display: flex;

  flex-direction: column;
  /* Đặt navbar nằm trên cùng */
  min-height: 100vh;
  overflow: hidden;
}

.sidenav {
  width: 200px;

  background-color: #f8f9fa;
  padding: 20px;
  height: 100vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed; /* Giữ sidebar ở bên trái */
  top: 0;
  left: 0;
  overflow: hidden;
}

.sidenav-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.sidenav li {
  margin: 20px 0;
}

.sidenav a {
  text-decoration: none;
  color: #f1f1f1;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.sidenav a:hover {
  color: rgb(79, 209, 197);
}

.navbar {
  /* moi sua */

  width: calc(100% - 200px);

  background-color: rgb(80, 200, 180); /* Ensure the background color is consistent */
  padding: 0; /* Remove padding */
  height: 60px; /* Set a fixed height */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 200px;
  z-index: 1000;
}

.navbar h1 {
  margin: 0;
  font-size: 24px;
  text-align: center;
  padding-left: 20px;
}

.content {
  /* Adjust width to avoid overflow */
  width: calc(100% - 120px);
  /* moi sua */

  margin-left: 120px;
  /* Accounts for the sidebar width */
  box-sizing: border-box;
  overflow-y: auto;
  /* height: calc(100vh - 60px); */
  /* Makes the content take full viewport height minus navbar */
  /* background-color: #f1f1f1; */
  /* background-color: red; */
  /* height: 100%; */
}

.content.full-screen {
  margin-left: 0; /* Remove the margin when sidenav is hidden */
  width: 100%; /* Adjust width to full when sidenav is hidden */
  /* padding-top: 20px;  */
  /* Adjust padding for the content */
  height: 100%;
}

.Home {
  width: 100%;
  height: 100%;
}
