.sign-up {
  background-color: transparent;
  color: rgb(100, 92, 92);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.btn-sign-up:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}
.btn-sign-up {
  transition: box-shadow 0.3s ease;
}
.btn-sign-up:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}
.inputSignUp {
  background: transparent;
  color: rgb(39, 36, 36);
}

.form-check-input[type='radio'] {
  background-color: rgb(60, 188, 188);
}
