.icon-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.icon {
  font-size: 24px;
}

.icon-text {
  position: absolute;
  top: 100%; /* Đặt vị trí ở dưới icon */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap;
  visibility: hidden; /* Ẩn văn bản ban đầu */
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-out;
  color: white;
}

.icon-container:hover .icon-text {
  visibility: visible; /* Hiện văn bản khi hover */
  opacity: 1;
}
tr .item:hover {
  background-color: teal !important;
}

.table-hover tbody tr:hover {
  background-color: teal !important; /* Màu nền khi hover */
  color: white !important; /* Màu chữ khi hover */
}
.search-container {
  padding: 5px; 
  width: fit-content;
   /* Độ rộng sẽ phù hợp với nội dung bên trong */
   cursor: pointer;
}

.search-wrapper {
  display: flex; /* Sử dụng flexbox */
  align-items: center; /* Căn chỉnh các phần tử theo chiều dọc */
}

.input {
   border: none; /*Loại bỏ border của input */
  width: 100%; /* Độ rộng 100% */
  padding: 5px; /* Khoảng cách nội dung và border của input */
  outline: none; /* Loại bỏ outline khi focus */
}
.search-icon:hover{
    color: teal;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.pagination .page-item {
  margin: 0 5px;
}

.pagination .page-link {
  color: teal;
  text-decoration: none;
  border: 1px solid teal;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.pagination .page-link:hover {
  background-color: rgb(80, 200, 180);
  color: white;
}

.pagination .active .page-link {
  background-color:  rgb(80, 200, 180);
  color: white;
  border-color: teal;
  transform: scale(1.2); /* Make the active link larger */
}
