.card {
  transition: box-shadow 0.3s ease-in-out , transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05) translateY(5px); /* Chìm xuống 5px */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Viền mờ với độ trong suốt */
}
